@using Microsoft.AspNetCore.Razor.TagHelpers
@model List<IdentityStructureModel.ViewModels.UserViewModel>
@{
	ViewData["Title"] = "UserList";
}


<h3>Users</h3>
<hr />
<table class="table table-bordered table-striped">

	<tr>
		<td>User Id</td>
		<td>User Name</td>
		<td>Email</td>
		<td>Roller</td>
		<td>Rol Atama</td>
	</tr>
	@if (Model.Count() == 0)
	{
		<tr>
			<td colspan="3">Hiç bir üye yoktur.</td>
		</tr>
	}
	else
	{
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.UserName</td>
				<td>@item.Email</td>
				<td>
					@foreach (var role in item.Roles)
					{
						@(role + ", ")
					}
				</td>
				<td> <a class="btn btn-success" asp-action="RoleAssign" asp-controller="Role" asp-area="Admin" asp-route-userId="@item.Id">Role ata</a></td>
			</tr>
		}
	}
</table>
